p {
  color: #657b83;
    background-color: #ffe6f0;
}
.second-paragraph {
  color: #b58900;
}
#third-paragraph {
  color: #d33682;
}
.fourth-paragraph {
  color: #ff6666;
}
@import url('https://fonts.googleapis.com/css?family=Alegreya');
body {
  font-family: 'Alegreya', serif;
}
body {
  background-color: #ffe6f0;
}
.map {
  height: 400px;
}
