p {
  color: #009933;
    background-color: #ffe6e6;
}
.second-paragraph {
  color: #b58900;
}
#third-paragraph {
  color: #d33682;
}
.fourth-paragraph {
  color: #ff6666;
}
@import url("https://fonts.googleapis.com/css?family=Garamond");
body {
  font-family: "EB Garamond", serif;
}
body {
  background-color: #ffe6e6;
}
.map {
  height: 400px;
}
