p {
  color: #657b83;
    background-color: #fdf6e3;
}
.second-paragraph {
  color: #b58900;
}
#third-paragraph {
  color: #d33682;
}
@import url("https://fonts.googleapis.com/css?family=Garamond");
body {
  font-family: "EB Garamond", serif;
}
.leaflet-container {
  font-family: "EB Garamond", serif;
}
body, .leaflet-popup-content-wrapper, .leaflet-popup-tip {
  background-color: #fdf6e3;
}
